<html>

<head>

    <style>
        .box_container {
            display: flex;
        }
        .box {
            height: 100px;
            width: 100px;
            border: 1px solid #4CAF50;
        }
    </style>

</head>

<div>
    <div class="box_container">
        <div class="box"><p><a href="{{ url_for('result', x=0, y=2) }}">0,2</a></p></div>
        <div class="box"><p><a href="{{ url_for('result', x=1, y=2) }}">1,2</a></p></div>
        <div class="box"><p><a href="{{ url_for('result', x=2, y=2) }}">2,2</a></p></div>
    </div>
    <div class="box_container">
        <div class="box"><p><a href="{{ url_for('result', x=0, y=1) }}">0,1</a></p></div>
        <div class="box"><p><a href="{{ url_for('result', x=1, y=1) }}">1,1</a></p></div>
        <div class="box"><p><a href="{{ url_for('result', x=1, y=2) }}">1,2</a></p></div>
    </div>
    <div class="box_container">
        <div class="box"><p><a href="{{ url_for('result', x=0, y=0) }}">0,0</a></p></div>
        <div class="box"><p><a href="{{ url_for('result', x=1, y=0) }}">1,0</a></p></div>
        <div class="box"><p><a href="{{ url_for('result', x=2, y=0) }}">2,0</a></p></div>
    </div>
</div>
</body>
</html>