<html>

<head>

    <style>
        .box_container {
            display: flex;
        }
        .box {
            height: 100px;
            width: 100px;
            border: 1px solid;
            border-color: #C0C0C0;
        }
    </style>

</head>

<div>
    <h3>
        {% if is_x_turn %}
        <p> It is X's turn </p>
        {% else %}
        <p> It is O's turn </p>
        {% endif %}
    </h3>
</div>

<div>
    {% for row in game_data %}
        {% set row_loop = loop %}
        <div class="box_container">
            {% for element in row %}
                <div class="box"><p><a href="{{ url_for('result', x=loop.index0, y=row_loop.index0) }}">{{row_loop.index0, loop.index0}}</a></p><p>{{element}}</p></div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
</body>
</html>